<!-- ========Product Sluider Right contetn ======== -->
 <section class="premium-showcase">
    <div class="premium-grid">

      <!-- LEFT SIDE SLIDER -->
      <div class="premium-slider-wrapper">
        <div class="swiper premiumSwiper">
          <div class="swiper-wrapper">
            {% for product in section.settings.collection.products limit: 8 %}
            <div class="swiper-slide">
              <div class="premium-card">
                <div class="img-wrap">
                  <a href="{{ product.url }}">
                     <img 
                        class="primary-img"
                        src="{{ product.featured_image | img_url: '600x' }}" 
                        alt="{{ product.title }}" width="" height="">

                     {% if product.images.size > 1 %}
                        <img 
                        class="hover-img"
                        src="{{ product.images[1] | img_url: '600x' }}" 
                        alt="{{ product.title }}" width="" height="">
                     {% endif %}
                  </a>
                </div>
                <div class="card-content">
                  <h4>
                     <a href="{{ product.url }}">{{ product.title }}</a>
                  </h4>
                  <span class="price">{{ product.price | money }}</span>
                </div>
              </div>
            </div>
            {% endfor %}
          </div>

          <div class="swiper-button-next"> </div>
          <div class="swiper-button-prev"> </div>
        </div>
      </div>

      <div class="premium-content">
        <span class="tag">{{ section.settings.tag }}</span>
        <h2>{{ section.settings.heading }}</h2>
        <p>{{ section.settings.text }}</p>
         <div>
            <a href="{{ section.settings.button_link }}" class="premium-btn">
            {{ section.settings.button_text }}
         </a>
         </div>        
      </div>
    </div>
</section>

<script>
document.addEventListener("DOMContentLoaded", function(){
  new Swiper(".premiumSwiper", {
    slidesPerView: 2,
    spaceBetween: 20,    
    speed: 800,
    autoplay: {
      delay: 2500,
      disableOnInteraction: false,
    },
    navigation: {
      nextEl: ".swiper-button-next",
      prevEl: ".swiper-button-prev"
    },
    breakpoints: {
      768: { slidesPerView: 2 },
      1024: { slidesPerView: 2 }
    }
  });
});
</script>

<style>

.premium-showcase {
   padding: 60px 0;
   background: #fff;
}
.premium-content {
   padding: 50px;
   background-color: #ffe9ef;
   border-radius: 12px 0 0px 12px;
   display: flex;
   flex-direction: column;
   justify-content: center;
}
.premium-grid {
  display: grid;
  grid-template-columns: 55% 45%;
  gap: 0;
}
.premium-slider-wrapper {
    padding: 0px 35px 0px 25px;
}
.premium-content .tag {
   color: #ff4d4d;
   font-weight: 500;
   letter-spacing: 1.5px;
   margin-bottom: 10px;
   display: block;
   line-height: normal;
   text-transform: uppercase;
   font-family: 'Oswald';
}

.premium-content h2 {
   font-size: 48px;
   font-weight: 900;
   margin-bottom: 15px;
   margin-top: 0;
   text-transform: uppercase;
   letter-spacing: 0;
}

.premium-content p {
  color: #000;
  margin-bottom: 25px;
  line-height: 1.6;
  margin-top:0;
}

.premium-btn {
   display: inline-block;
   padding: 12px 28px;
   background: #ff4d4d;
   color: #ffff;
   border-radius: 50px;
   text-decoration: none;
   transition: 0.3s;
   font-family: 'Oswald';
   text-transform: uppercase;
   font-size: 18px;
   line-height: normal;
}

.premium-btn:hover {
  background: #000;
  transform: translateY(-3px);
}
.premium-card {
   background: #ffe9ef;
   border-radius: 12px;
   overflow: hidden;
   transition: 0.4s;
   padding: 20px;
}

.premium-showcase .img-wrap {
   overflow: hidden;
   border-radius: 12px;
   position: relative;
}
.premium-showcase .img-wrap img {
    width: 100%;
    transition: 0.4s;
    display: block;
    margin: 0 auto;
    aspect-ratio: 1;
    object-fit: contain;
    border-radius: 12px;
  transition: 0.4s ease;
}
.premium-showcase .hover-img {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.premium-card:hover .primary-img {
  opacity: 0;
}

.premium-card:hover .hover-img {
  opacity: 1;
}
.premium-showcase .card-content {
  padding: 15px 0;
}
.premium-showcase .card-content h4 {
    font-size: 18px;
    margin-bottom: 5px;
    color: #000;
    text-transform: uppercase;
    margin-top: 0;
    font-weight: 500;
    letter-spacing: 1px;
}
.premium-showcase .card-content h4 a{
   color: #000;
   text-decoration:none;
}
.premium-showcase .price {
    color: #ff4d4d;
    letter-spacing: normal;
    font-weight: 700;
    font-family: 'Oswald';
}
.premium-showcase .swiper-button-next,
.premium-showcase .swiper-button-prev {
  color: #fff;
  background: #ff4d4d;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
  top: 45%;
  transform: translateY(-50%);
  display:flex;
}
.premium-showcase .swiper-button-next:after,.premium-showcase .swiper-button-prev:after {
    font-size: 18px;
    font-weight: 900;
}
.premium-showcase .swiper-button-next:hover,
.premium-showcase .swiper-button-prev:hover {
  background: black;
  color: white;
}
</style>
{% schema %}
{
  "name": "Custom Product Slider Sec",
  "settings": [
    {
      "type": "collection",
      "id": "collection",
      "label": "Select Collection"
    },
    {
      "type": "text",
      "id": "tag",
      "label": "Small Tag",
      "default": "Our Products"
    },
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "Discover Our Best Collection"
    },
    {
      "type": "textarea",
      "id": "text",
      "label": "Description",
      "default": "Explore high quality products designed for modern lifestyle."
    },
    {
      "type": "text",
      "id": "button_text",
      "label": "Button Text",
      "default": "Shop Now"
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "Button Link"
    }
  ],
  "presets": [
    {
      "name": "Custom Product Slider Sec",
      "category": "Custom"
    }
  ]
}
{% endschema %}